<div class="container">
  <div class="name-box">
    <h2>Employee Rating for {{ employeeName}}</h2>
  </div>

  <div class="graph-box" *ngIf="showChart">
    <ngx-charts-bar-vertical-2d
      *ngIf="barChartData && barChartData.length"
      [view]="[700, 400]"
      [scheme]="colorScheme"
      [results]="barChartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [roundEdges]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Parameters'"
      [yAxisLabel]="'Rating'">
    </ngx-charts-bar-vertical-2d>
  </div>
</div>
